@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 2em;
}

table {
  margin: 2em;
}

td {
  padding: 5px;
}

a {
  color: darksalmon;
  text-decoration: underline;
}
